@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,100;1,200;1,300;1,500&display=swap');

$my-primary: rgb(48, 48, 82);
$my-secondary: #d6e8ff;

.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 80vh;
}
